EXPO_PUBLIC_URL="https://tegfwlejpnjfcyyppogf.supabase.co"
EXPO_PUBLIC_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRlZ2Z3bGVqcG5qZmN5eXBwb2dmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4ODAwNzcsImV4cCI6MjA3NTQ1NjA3N30.8irNDJq0x6sYUYusnyfWpj4puv59utsikJoOsdK3SwA"